/* classes styling starts here */

.flex-container {
    display: flex;
    width: 100%;
    flex-direction: column;  
    margin: 0px;
    padding: 10px auto;
    align-items: flex-start;
}

.col-2 {
    margin-top: 75px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.hidden {
    display: none;
}

.btn {
    background-color: #20a8b4;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
}

/* id styling starts here */

#header {
    background-color: #f2f2f2;
}    

/* element styling starts here */
body {
    background-color: #fff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
}

h1 {
    color: #20a8b4;
    margin: 0px;
    padding: 0px;
}

span {
    color: #ff5c0f;
}

ul {    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    padding: 5px 0px;
}

a:hover {
    color: #ff5c0f;
}

button:hover {
    background-color: #ff5c0f;
}

/* Media query for desktop display starts here  */
@media screen and (min-width: 768px) {
/* class styling starts here */    
    .col-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 100px;
    }    

    .col-3 {
        display: inline-flex;
        float: left;
        width: 50%;    
    }

    .btn {
        width: auto;
        margin: 5px;
    }       

    .flex-container {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .col-2 {     
        width: 50%;
    }   

/* element styling starts here */    
    h1 {
        flex-grow: 1;
    }

    img {
        width: 100%;
    }

    ul li  {
        display: inline-flex;
        margin: 1px; 
    }
}