/* classes styling starts here */

.flex-container {
    display: flex;
    width: 100%;
    flex-direction: column;  
    margin: 0px;
    padding: 10px auto;
    align-items: flex-start;
}

.col-2 {
    margin-top: 75px;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.hidden {
    display: none;
}

.btn {
    background-color: #20a8b4;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
}

button:hover {
    background-color: #ff5c0f;
}

/* id styling starts here */

#header {
    background-color: #f2f2f2;
}    

/* element styling starts here */
body {
    background-color: #fff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
}

h1 {
    color: #20a8b4;
    margin: 0px;
    padding: 0px;
}

span {
    color: #ff5c0f;
}

ul {    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    padding: 5px 0px;
}

a:hover {
    color: #ff5c0f;
}

/* Media query for desktop display starts here  */
@media screen and (min-width: 768px) {
    .col-1 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        
    }

    

    ul li  {
        display: inline-flex;
        
        
        
    }

    .btn {
        width: auto;

        
    }

    

    /* .col-2 {
        width: 50%;
        flex-direction: row;
    }

    img{
        width: 25%;
        
    }
    .col-3 {
        display: flex;
        flex-direction: row;
        width: 50%;
        background-color: yellow;
    } */

}